/* Component Style */
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin: 4em;
  height: 250px;
}

.card .left {
  width: 50%;
  height: 100%;
}

.card .left img {
  height: 100%;
  width: 100%;
}

.card .right {
  padding-left: 32px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .right .header-text {
  font-size: 26px;
  font-weight: bold;
  width: 100%;
}

.card .right .body-text {
  color: #949494;
  font-size: 18px;
  font-weight: 100;
}

.card .right .more {
  cursor: pointer;
}

.card .right .more a {
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 210px;
  min-height: 210px;
}

.header img {
  position: absolute;
  border-radius: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  max-height: 210px;
  min-height: 210px;
}

.header .header-content {
  max-height: 210px;
  min-height: 210px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-content .text {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 2;
  color: white;
  font-size: 35px;
  font-weight: bold;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.project-info-wrapper {
  background-color: #EAF3FA;
}

.project-info-wrapper .project-info-container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2vw;
}

.project-info-wrapper .project-info-container img {
  width: 450px;
  height: 240px;
  margin-bottom: 20px;
}

.project-info-wrapper .project-info-container .project-header {
  width: 60px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}

.project-info-wrapper .project-info-container .info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.project-info-wrapper .project-info-container .info-wrapper .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 5px 0;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-info-wrapper .project-info-container .info-wrapper .first-half {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-info-wrapper .project-info-container .info-wrapper .first-half .items {
  padding-right: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-info-wrapper .project-info-container .info-wrapper .second-half {
  width: 50%;
  border-left: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-info-wrapper .project-info-container .info-wrapper .second-half .items {
  padding-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-info-wrapper .project-info-container .project-desc-wrapper {
  margin-top: 54px;
  border-radius: 20px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 900px;
}

.project-info-wrapper .project-info-container .project-desc-wrapper .project-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-info-wrapper .project-info-container .images-proj {
  width: 30px;
  height: 30px;
  margin-bottom: 0;
  margin-right: 10px;
}

.activeComp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.activeComp .text {
  font-size: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

img {
  border-radius: 10px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=index.css.map */